<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<span class="mdl-layout-title white">Veure Dades Alumne</span>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<button class="rounded mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="back()">Tornar</button>
	</div>
	<table class="rounded mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
		<thead>
			<tr>
				<th colspan=6>
					Dades de l'alumne
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="mdl-data-table__cell--non-numeric"><b>Nom:</b></td>
				<td class="blue separator-r">{{alumne.firstName}}</td>
				<td class="mdl-data-table__cell--non-numeric"><b>Cognoms:</b></td>
				<td class="blue separator-r">{{alumne.lastName}}</td>
				<td class="mdl-data-table__cell--non-numeric"><b>Email:</b></td>
				<td class="blue">{{alumne.email}}</td>
			</tr>
		</tbody>
	</table>
	<table class="rounded mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--3-col">
		<thead>
			<tr>
				<th colspan=6>
					Historial de Llicencies
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let llicencia of alumne.llicencies">
				<td class="mdl-data-table__cell--non-numeric"><b>Any:</b></td>
				<td class="blue">{{llicencia.any}}</td>
				<td class="mdl-data-table__cell--non-numeric">
			      <a class="mdl-button mdl-js-button mat-raised-button actionField" (click)="openDialog(llicencia.id,llicencia.any)">
				    <i class="material-icons">delete</i>
				  </a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="mdl-cell mdl-cell--3-col"></div>
	<table class="rounded mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--6-col">
		<thead>
			<tr>
				<th colspan=9>
					Historial de Mensualitats
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let mensualitat of alumne.mensualitats">
				<td class="mdl-data-table__cell--non-numeric"><b>Any:</b></td>
				<td class="blue">{{mensualitat.any}}</td>
				<td class="mdl-data-table__cell--non-numeric"><b>Mes:</b></td>
				<td class="blue">{{mensualitat.mes}}</td>
				<td class="mdl-data-table__cell--non-numeric"><b>Quantitat:</b></td>
				<td class="blue">{{mensualitat.quantitat}}</td>
				<td class="mdl-data-table__cell--non-numeric"><b>Pagat:</b></td>
				<td class="{{mensualitat.pagat ? 'blue' : 'red'}}">{{mensualitat.pagat ? 'Sí' : 'No'}}</td>
				<td class="mdl-data-table__cell--non-numeric">
			      <a *ngIf="!mensualitat.pagat" class="mdl-button mdl-js-button mat-raised-button actionField" (click)="pagarMensualitat(mensualitat.id)">
				    <i class="material-icons">payment</i>
				  </a>
			      <a *ngIf="mensualitat.pagat" class="mdl-button mdl-js-button mat-raised-button actionField" (click)="tornarMensualitat(mensualitat.id)">
				    <i class="material-icons">assignment_return</i>
				  </a>
			      <a class="mdl-button mdl-js-button mat-raised-button actionField" (click)="openDialogMensualitat(mensualitat.id,mensualitat.any,mensualitat.mes)">
				    <i class="material-icons">delete</i>
				  </a>
				</td>
			</tr>
		</tbody>
	</table>
<!-- 	<div class="mdl-cell mdl-cell--1-col"></div> -->
	<table class="mdl-cell mdl-cell--3-col mdl-data-table mdl-js-data-table mdl-shadow--2dp rounded">
		<tbody>
			<tr>
				<td><span>Afegir llicencia</span></td>
				<td><input [(ngModel)]="novaLlicencia" class="mdl-textfield__input" type="number"></td>
			</tr>
		</tbody>
	</table>
	<div class="mdl-cell mdl-cell--3-col">
		<button class="rounded mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="creaLlicencia()">Crear</button>
	</div>
	<table class="mdl-cell mdl-cell--3-col mdl-data-table mdl-js-data-table mdl-shadow--2dp rounded">
		<tbody>
			<tr>
				<td><span>Afegir mensualitat</span></td>
				<td><span>Any</span><input [(ngModel)]="nouMensualitat" class="mdl-textfield__input" type="number"></td>
				<td><span>Mes</span><input [(ngModel)]="nouMensualitatMes" class="mdl-textfield__input" type="number"></td>
				<td><span>€</span><input [(ngModel)]="nouMensualitatQuantitat" class="mdl-textfield__input" type="number"></td>
			</tr>
		</tbody>
	</table>
	<div class="mdl-cell mdl-cell--3-col">
		<button class="rounded mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="creaMensualitat()">Crear</button>
	</div>
</div>

<div class="superDialeg rounded shadowed demo-card-event mdl-card mdl-shadow--2dp" *ngIf="!dialogShown">
	<h4 class="mdl-card__title">Confirmació</h4>
	<div class="mdl-card__supporting-text">
      <p>
		Segur que vols esborrar la llicencia de l'alumne per l'any {{selectedLlicencia}}
	  </p>
	</div>
    <div class="mdl-card__actions mdl-card--border">
	    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored close" (click)="closeDialog()">Cancelar</button>
	    &nbsp;&nbsp;&nbsp;
	    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="deleteLlicencia(selectedLlicencia)">Esborrar</button>
	</div>
</div>

<div class="superDialeg rounded shadowed demo-card-event mdl-card mdl-shadow--2dp" *ngIf="!dialogMensualitatShown">
	<h4 class="mdl-card__title">Confirmació</h4>
	<div class="mdl-card__supporting-text">
      <p>
		Segur que vols esborrar el mensualitat de l'alumne per l'any {{selectedMensualitat}} i el mes {{selectedMensualitatMes}}
	  </p>
	</div>
    <div class="mdl-card__actions mdl-card--border">
	    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored close" (click)="closeDialogMensualitat()">Cancelar</button>
	    &nbsp;&nbsp;&nbsp;
	    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="deleteMensualitat(selectedMensualitat)">Esborrar</button>
	</div>
</div>
